body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: rgb(70, 79, 88);
    color: white;
    box-sizing: border-box;
    padding: 30px;
    font-size: larger;
}

div {
    background-color: rgb(237, 239, 241);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    text-align: center;
    align-items: center;
}

table {
    margin: 0 auto;
    padding: 10px;
}

input, select {
    border-radius: 2px;
    background-color: rgb(70, 79, 88);;
    color: white;
}

#buy-btn {
    visibility: hidden;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
}


#laptop-info-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}